<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Homepage</title>

        <link href="{% static  'homepage.css' %}" rel="stylesheet">
    </head>
    <body>
        <script>
            function myFunction1() {
            window.location.href="https://edu-buddy.herokuapp.com/chat";
            }

            function myFunction2(){
                window.location.href="https://edu-buddy.herokuapp.com"
            }
        </script>

        <div id="main">
            <div class="left">
<!--                <div class = "logo">-->
<!--                     <img src="{% static  'logo.png' %}" height = "70" width="500"  alt = " iiitd logo">-->
<!--                </div>-->
                <div class ="title">
                    <h1>Seekers</h1>
                </div>
                <div>

                    <button class="button button1" onClick="myFunction2()"><h1><span>Edu Buddy</span></h1></button>

                </div>
            <div class= "right">
                <button class="button button2" onClick="myFunction1()">
                    <h1><span>Chat with Us</span></h1></button>
                </div>
             </div>
        </div>

    </body>

</html>